.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 60%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}